body {
    margin: 0;
    padding: 0;
   
}

.displayBox{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}